{% autoescape None %}
{% extends "base.html" %}
{% block title %} {{ data['title'] }}{% end %}
{% block content %}
		<div class="news-thumb" style="background:#555 url({{ data['image'] }}) 50% -150px no-repeat">
			<div class="top-nav" id="js-top-nav">
				<a href="/rss" class="pull-right"><i class="fa fa-rss"></i></a>
				<a href="/"><i class="fa fa-home"></i></a>
			</div>
			<div class="image-copyright">图片 {{ data['image_source'] }}</div>
		</div>
		<div class="news-content">
			{{ data['body'] }}
		</div>
{% end %}
{% block style %}
body{
	background:#f5f5f5;
}
.container{
	background:#fff;
	overflow:hidden;
	width:600px;
	padding:0;
}
.top-nav{
	position:fixed;
	top:0;
	width:600px;
	left:50%;
	margin-left:-300px;
	background:rgba(0,0,0,.5);
	padding: 10px 20px;
	font-size:28px;
	z-index:3;
}
.top-nav a{
	color:#fff;
	opacity:.6;
}
.image-copyright{
	position:absolute;
	color:#fff;
	right:20px;
	bottom:20px;
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
}
.top-nav a:hover{
	opacity:1;
}
.news-thumb{
	height:300px;
	position:relative;
	overflow:hidden;
}
.news-thumb img{
	position:absolute;
	left:0;
	bottom:-100px;
}
.news-content .question{
	padding: 20px;
	border-bottom:solid 1px #f5f5f5;
	overflow:hidden;
}
.question .question-title{
	font-size:22px;
}
.question .meta{
	color:#999;
}
.question .content{
	padding:20px 0 10px;
	font-size:16px;
}
.meta .avatar{
	border-radius:17px;
}
.footer .container{
	text-align:center;
	padding: 20px 0;
}
{% end %}