<!DOCTYPE html>
<html>
<head>
	<title>瞎扯·如何正确的吐槽 - 来自知乎日报</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
	<base href="/">
	<link rel="alternate" type="application/atom+xml" href="/rss">
</head>
<body ng-app="app">
	<div id="indexView" class="index">
		<div class="container">
			<h3 class="logo">瞎扯·如何正确的吐槽 - 来自知乎日报</h3>
			<ul class="news-list clearfix" id="newsList">
			</ul>
			<div class="text-center hide" id="pagination">
				<button class="button more-button" id="loadMore">MORE</button>
			</div>
		</div>
	</div>

	<div id="newsView" class="hidden unvisible news">
		<div class="wrap news">
			<div class="container">
				<div id="newsDetail"></div>
				<div class="tool-bar">
					<div class="nav-bar">
						<a href="/" class="btn home"></a>
						<button class="btn share" id="shareBtn"></button>
					</div>
					<div class="popup-component hide" id="shareComponent">
						<div class="tool-bar-mask" id="shareMask"></div>
						<div class="share-component" id="shareContainer">
							<div class="share-bar" id="shareBar">
								<button class="share-btn twitter" data-type="twitter">Twitter</button>
								<button class="share-btn facebook" data-type="facebook">Facebook</button>
								<button class="share-btn google" data-type="google">Google</button>
								<button class="share-btn weibo" data-type="weibo">Weibo</button>
							</div>
							<button class="cancel" id="hideShare">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/assets/js/app.min.js"></script>

	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1655372-8', 'housne.com');
      ga('send', 'pageview');

    </script>
</body>
</html>